@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
.header {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(30deg,#38ADAE,#CD295A);
    color: #fff;
    font-size: 3rem;
}
.language-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.language-button button{
    padding: 7px 15px;
    border: none ;
    background: #fff;
    border: 1px solid #CD295A;
}
.language-button button a {
    text-decoration: none;
    color: #5a051e;
    font-size: 0.9rem;
    font-weight: bold;
}
.current {
    background: #CD295A !important;
}
.current a{
    color: #fff !important;
}
.persion-btn {
    padding: 7px 22px !important;
}
main {
    height: 100vh;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.examText-box {
    width: 70%;
    margin-top: 30px;
}
.examText-message {
    font-size: 1.3rem;
}
.orginalText {
    width: 60%;
    height: 60px;
    border:3px solid #38ADAE;
    margin-top: 20px;
    line-height: 60px;
    padding:0 10px;
    font-size: 1.5rem;
}
.typing-box {
    width: 70%;
    height: 150px;
    margin-top: 50px;
    border:3px solid #38ADAE;
    padding: 10px;
}
.typing-box textarea {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    caret-color: #CD295A;
    font-size: 1.5rem;
}
.inner-timer {
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 50px;
    font-size: 2.5rem;
}
.reset-btn {
    font-size: 1.2rem;
    padding: 5px 14px;
    color: #CD295A;
    border: 1px solid #CD295A;
    background: none;
    cursor: pointer;
    font-weight: bold;
}